* {
  box-sizing: border-box;
}


h1 {
    background-color: red;
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: white;
  }

div {
  margin-bottom: 30px;
  padding: 30px;
  color: white;
  background-color: grey;
}

.dam {
  padding-right: 30px;
  padding-bottom: 400px;
  padding-left: 30px;
}

.topnav {

  font-size: 22px;
  text-align: right;
}

.topnav a:link {
  color: white;
}

.topnav a:visited {
  color: white;
}

footer {
    width: 100%;
    bottom: 0;
    height: auto;
    color: white;
  background-color: black;
}
